venv/
.env
.ipynb_checkpoints/
__pycache__/


# Python virtual environment
venv/

# Secrets
.env

# Jupyter and Python cache
.ipynb_checkpoints/
__pycache__/

# Ignore other unnecessary files
*.pyc

venv/
.env
__pycache__/
.ipynb_checkpoints/
DATA/*
!DATA/RAW/
DATA/RAW/*
!DATA/RAW/*.csv